body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; 
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.navbar nav {
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
}

h3 {
    font-size: 1.7em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
    
}

.linux-distros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.distro-item {
    display: flex;
    align-items: center;
    width: 23%; 
}

.distro-logo {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}


.distro-name {
    font-weight: bold;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.distro-about {
    font-size: 0.8em;
    color: #666;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.main-content-grid {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 0px;
    margin-top: 20px;
}

.large-logo-placeholder {
    width: 100%;
    max-width: 500px;
    height: 300px; 
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px;
}

.section-title {
    font-size: 1.5em;
    font-weight: 1000;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.placeholder-text {
    font-size: 0.8em;
    line-height: 1.8;
    color: #666;
    margin-bottom: 140px;
}